RTSP_URL=rtsp://user:password@ip:port/path
RTSP_USER=filder
RTSP_PASSWORD=m@kr0mE2
RTSP_HOST=176.196.225.210
RTSP_PORT=9554
RTSP_PATH=cam/realmonitor?channel=1&subtype=0

MEDIAMTX_RTSP_PORT=8554
MEDIAMTX_HLS_PORT=8888
WEBAPP_PORT=5173

RTSP_INPUT=rtsp://user:pass/path/index.m3u8
RTSP_OUTPUT=rtsp://path

VITE_ALLOWED_HOST=domen.com
VITE_HLS_URL=http://localhost:port/path/index.m3u8
VITE_API_URL=http://localhost:port/
